.post-item {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.post-item h2 {
    margin-top: 0;
}

.post-item small {
    display: block;
    margin-top: 10px;
    color: #666;
}
